body {
  background-color: white;
  color: rgb(0,0,0);
  font-family: arial, sans-serif;
}

div.navbar {
  font-size: 13px;
  position: relative;
  align-items: center;
}

ul.upper_left_nav {
  position: relative;
  display: inline;
  top: 24px;
  padding: 0 10px;
}

ul.upper_right_nav {
  position: relative;
  float: right;
  top: 15px;
  padding: 1px 28px;
}

ul.upper_right_nav li {
  color: rgb(0,0,0);
  display: inline;
  padding-left: 14px;
  font-size: 13px;
}


ul.upper_left_nav li {
  color: rgb(0,0,0);
  opacity: 0.75;
  display: inline;
  padding-left: 15px;
  font-size: 13px;
}

 li:hover {
  text-decoration: underline;
  cursor: pointer;
}

 div.navbar .google_apps {
  width: 24px; height: 24px;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  opacity: 0.55;
  padding: none;
}

#google_apps_fix:hover {
  opacity: 1;
  text-decoration: none;
}

div.navbar .google_apps:hover {
  opacity: 1;
}

div.navbar .google_sign_in {
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(66,133,244);
  border: 1px solid rgb(66,133,244);
  border-radius: 2px;
  width: auto; height: auto;
  padding: 0 12px;
  outline: none;
}

div.navbar .google_sign_in:hover {
  box-shadow: 0 1px 0 rgb(0,0,0,.15);
}

div.navbar .google_sign_in:active {
box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
}

div.google_logo {
  position: relative;
  left: 251px;
}

.google_logo {
  position: absolute;
  top: 38px;
  left: inherit;
  vertical-align: middle;
  width: 272px;
  height: 92px;
  padding-top: 109px;
}

.container {
  position: absolute;
  vertical-align: middle;
  border: 1px solid rgb(234, 234, 234);
  border-style: none;
  box-shadow:0px 2px 4px rgb(0,0,0,0.3);
  outline: none;
  font-size: inherit;
  font-family: arial, sans-serif;
  font-size: 16px;
  top: 316px;
  left: 400px;
  width: 460px;
  height: 38px;
  padding: 6px 9px 0;
}

div.search_form .container:hover {
  border-color: rgb(160,160,160) rgb(185, 185, 185) rgb(185,185,185) rgb(185,185,185);
}

.google_mic {
  position: absolute;
  vertical-align: middle;
  top: 325px;
  left: 845px;
  width: 15px;
  height: 20px;
}

div.submit_buttons {
  position: absolute;
  top: 380px;
  left: 500px;
  vertical-align: middle;
}

 .button {
   display: inline-block;
   font-family: arial, sans-serif;
   font-size: 13px;
   font-weight: bold;
   font-stretch: 100%;
   height: 36px;
   min-width: 54px;
   margin: 11px 4px;
   padding: 0 16px 0 16px;
   background-color: rgb(244,244,244);
   color: rgb(117,117,117);
   border: 1px solid rgb(244,244,244);
   border-radius: 2px;
}

#im_feeling_lucky:hover {
  box-shadow: 0 1px 1px rgb(0,0,0,0.1);
  color: rgb(34,34,34);
  border: 1px solid rgb(198,198,198);
}

#search_button {
  outline: none;
}

#search_button:hover{
  box-shadow: 0 1px 1px rgb(0,0,0,0.1);
  color: rgb(34,34,34);
  border: 1px solid rgb(198,198,198);
}

div.bottom_nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgb(102,102,102);
  background: rgb(242,242,242);
  border-top: 1px solid rgb(228,228,228);
}

ul.lower_left_nav li {
  position: relative;
  display: inline;
  font-size: 17.8px;
  top: 10px;
  padding-left: 27px;
}

ul.lower_right_nav li {
  position: relative;
  display: inline;
  font-size: 17.8px;
  bottom: 10px;
  left: 1010px;
  padding-right: 27px;
}
